.gps-ring {
    border: 3px solid #fdb143;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 36px;
    width: 36px;
    animation: pulsate 1s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    background-color: #fdb143;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}
